.page {
    background-color: rgb(223, 236, 252);
}

.container {
    display: flex;
    gap: 10px;
    margin: 10vh auto;
    padding: 25px;
    padding-top: 0;
    flex-direction: column;

    max-width: 350px;
    min-width: 170px;
    height: max-content;

    border: 2px solid rgb(53, 109, 146);
    border-radius: 15px;
    background: white url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.text {
    font-family: "Roboto", sans-serif;
}

.input-text {
    border-radius: 15px;
    height: 35px;
    padding: 3px 5px;
    border: none;
    background-color: rgb(223, 236, 252);


    font-size: 1em;
}

.label-text {
    font-size: 1.25em;
    padding-left: 7px;
}

.title {
    text-align: center;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    color: rgb(24, 24, 24);
    margin-top: 1em;
    margin-bottom: 0;
}

.btn {
    height: 50px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;

    border: none;
    background: rgb(104, 127, 158);
    color: white;
    border-radius: 20px;
}

#result {
    text-align: center;
    font-size: 1.25em;
    color: crimson;
    font-weight: bold;
}